/* style for footer  */
footer {
  /* sizing */
  padding: 3.2em;
  /* decorate */
  background-image: linear-gradient(235deg, var(--Color_Fuchsia), var(--Color_BlueViolet));
}

/* footer icon - top */
.footer_icon {
  /* display */
  display: flex;
  justify-content: center;
}

.footer_icon > img {
  /* sizing */
  height: 64px;
  /* decoration */
  cursor: pointer;
  transition: .3s ease-in-out;
}

.footer_icon > img:hover {
  transform: scale(1.2);
}

/* footer main - midle */


/* footer direitos - button */
footer > div:last-child > p {
  color: var(--Color_snow);
  text-align: center;
}


:root {
  /* vars for colors */
    /* named colors vars */
  --Color_snow: #FFFAFA;
  --Color_Azure: #F0FFFF;
  --Color_Black: #00030c;
  --Color_SpringGreen: #00FF7F;
  --Color_SeaGreen: #3CB371;
  --Color_PaleTurquoise: #AFEEEE;
  --Color_Aquamarine: #7FFFD4;
  --Color_Turquoise: #40E0D0;
  --Color_Fuchsia: #FF00FF;
  --Color_MediumOrchid: #BA55D3;
  --Color_MediumPurple: #9370DB;
  --Color_BlueViolet: #8A2BE2;
  --Color_DarkViolet: #9400D3;
    /* gray colors */ 
  --Color_gray1: #C0C0C0;
  --color_gray2: #D3D3D3;
  --color_gray3: #696969;
  --color_gray4: #778899;
  --color_gray5: #2F4F4F;
}