/* style for de navbar */
/* Main navbar */
header.Navbar {
  /* sizing adjust */
  padding: .4em 1.8em;
  /* colors adjust */
  background-image: linear-gradient(145deg,var(--Color_SpringGreen), var(--Color_SeaGreen));
  box-shadow: 0px 8px 8px var(--Color_SeaGreen);
  /* Positition adjuste */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
}

header.Navbar > div {
  display: flex;
  align-items: center;
}

/* Logo imag*/
.logo_NavBar {
  height: 48px;
  cursor: pointer;
  margin-right: 2em;
}

/* text menu */
header.Navbar > div:first-child > h1 {
  cursor: pointer;
  font-size: 2.2em;
}

/* Navbar Link area */
.navbar_linkArea > button{
  display: none;
}

.navbar_linkArea > ul {
  /* position for buttons */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3em;
}

.navbar_linkArea > ul > li > a {
  /* text decorate */
  font-size: 1em;
  /* position */
  padding: .8em;
  /* decorate */
  border: 1px solid transparent;
  border-radius: 1em;
  /* transition */
  transition: box-shadow, background-color .3s ease-in;
}

.navbar_linkArea > ul > li > a:hover {
  box-shadow: 0px 0px 16px var(--color_gray5);
  background-color: var(--Color_MediumOrchid);
}


/* root for vars */
:root {
  /* vars for colors */
    /* named colors vars */
  --Color_snow: #FFFAFA;
  --Color_Azure: #F0FFFF;
  --Color_Black: #00030c;
  --Color_SpringGreen: #00FF7F;
  --Color_SeaGreen: #3CB371;
  --Color_PaleTurquoise: #AFEEEE;
  --Color_Aquamarine: #7FFFD4;
  --Color_Turquoise: #40E0D0;
  --Color_Fuchsia: #FF00FF;
  --Color_MediumOrchid: #BA55D3;
  --Color_MediumPurple: #9370DB;
  --Color_BlueViolet: #8A2BE2;
  --Color_DarkViolet: #9400D3;
    /* gray colors */ 
  --Color_gray1: #C0C0C0;
  --color_gray2: #D3D3D3;
  --color_gray3: #696969;
  --color_gray4: #778899;
  --color_gray5: #2F4F4F;
}

